.p1{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 1040px;
    left: 150px;
    color: rgb(255, 0, 0);
    
    
}
.p2{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 760px;
    left: 820px;
    color: rgb(255, 0, 0);
    
    
}
.p3{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 950px;
    left: 230px;
    color: rgb(255, 0, 0);
    
    
}
.p4{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 760px;
    left: 980px;
    color: rgb(255, 0, 0);
    
    
}
.p5{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 625px;
    left: 810px;
    color: rgb(255, 0, 0);
    
    
}
.p6{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 345px;
    left: 445px;
    color: rgb(255, 0, 0);
    
    
}
.p7{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 220px;
    left: 245px;
    color: rgb(255, 0, 0);
    
    
}

.p8{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: 130px;
    left: 310px;
    color: rgb(255, 0, 0);
    
   
}
.p9{
       

    writing-mode: vertical-rl;
    text-orientation: upright;
      font-family: Rockwell ;
      font-size: 25px;
    bottom: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    top: -120px;
    left: 560px;
    color: rgb(255, 0, 0);
    
    
}